@model IEnumerable<AgenceEvenementielle.Models.Evenement>

@{
    ViewData["Title"] = "Evénements";
}


<h1 class="display-4; text-center">Bienvenue sur le gestionnaire des événements Wow Event </h1>

<h2>Evenements à venir </h2>

<table class="table">
     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horraire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horraire)
            </td>
                <td>
                    <a asp-action="Participant">Liste des participants</a>
                </td>
            <td>
                    <button class="btn btn-outline-primary">
                        @Html.ActionLink("Modifier", "Edit", new { id = item.Nom }) 
                </button>
                <button class="btn btn-outline-primary">
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.Nom })
                </button>
          

                
            </td>
        </tr>
}
    </tbody> 
</table>



    <a class="btn btn-outline-primary" asp-action="Create" role="button">Créer un événement</a>

